.checkbox-special {
    label {
        font-weight: 600;
        color: $primary-color !important;
    }
    [type="checkbox"].filled-in {
        // Checked style
        &:checked {
            +label:after {
                border: 3px solid $primary-color;
                background-color: $primary-color !important;
            }
        }
        &:not(:checked)+label:after {
            height: 20px;
            width: 20px;
            background-color: transparent;
            top: 3px;
            z-index: 0;
        }
    }
    [type="checkbox"]:checked {
        +label:before {
            top: 3px;
            left: 1px;
            width: 8px;
            height: 13px;
            border-top: 3px solid transparent;
            border-left: 3px solid transparent;
            border-right: 3px solid #ffffff !important;
            border-bottom: 3px solid #ffffff !important;
            transform: rotate(40deg);
            backface-visibility: hidden;
            transform-origin: 100% 100%;
        }
        &:disabled+label:before {
            border-right: 3px solid rgba(0,0,0, .26);
            border-bottom: 3px solid rgba(0,0,0, .26);
        }
    }
}

.checkbox-special-type2 {
    label {
        font-weight: 600;
        color: $primary-color !important;
    }
    [type="checkbox"].filled-in {
        // Checked style
        &:checked {
            +label:after {
                border: 3px solid $primary-color;
                background-color: $primary-color !important;
            }
            +label:before {
                -webkit-transform: none;
                transform: none;
                top: 8px;
                left: 4px;
                height: 1px;
                width: 12px;
                border-radius: 0;
            }
        }
        &:not(:checked)+label:after {
            height: 20px;
            width: 20px;
            background-color: transparent;
            top: 3px;
            z-index: 0;
        }
    }
    [type="checkbox"]:checked {
        +label:before {
            top: 1px;
            left: 0px;
            width: 4px;
            height: 12px;
            border-top: 2px solid transparent;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent !important;
            border-bottom: 2px solid transparent !important;
            transform: rotate(90deg);
            background-color: #ffffff;
            backface-visibility: hidden;
            transform-origin: 100% 100%;
        }
        &:disabled+label:before {
            border-right: 2px solid rgba(0,0,0, .26);
            border-bottom: 2px solid rgba(0,0,0, .26);
        }
    }
}