.dialog-attach-file {
    .additional-content {
        .download-template {
            color: #66c9d1;
            font-weight: normal;
            cursor: pointer;
            text-decoration: underline;
        }
    }
}