.dialog-transfer-handset {
    .modal-content {
        .modal-body {
            overflow-y: unset;
        }
    }
    .stepper-container {
        margin-bottom: 10px;
    }
    .filter {
        position: relative;
        > div {
            &:first-child {
                float: left;
                width: 200px;
                margin-right: 10px;
            }
            &:nth-child(2) {
                float: left;
                width: 200px;
            }
            &:nth-child(3) {
                width: 230px;
                float: right;
            }
        }
    }
    .search {
        position: absolute;
        right: 0;
        height: 30px;
        width: 190px;
        input {
            padding-left: 28px;
        }
        input::-moz-placeholder {
            font-size: 12px;
            font-weight: normal;
            color: $gray-color-deep;
        }
        input::-webkit-input-placeholder {
            font-size: 12px;
            font-weight: normal;
            color: $gray-color-deep;
        }
        .img-search {
            width: 14px;
            left: 10px;
            top: 8px;
            position: absolute;
            &.none {
                display: none;
            }
        }
    }
    .common-select, .input-container {
        padding-bottom: 15px;
    }
    .clear {
        clear: both;
    }
    .choose-handset-step {
        .metro-table {
            tbody {
                display: block;
                height: 180px;
                overflow-y: auto;
                margin-top: 0;
            }
            thead, tbody  {
                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    margin-top: 0;
                }
                th {
                    &.selected-items {
                        .columnName {
                            text-transform: none;
                            color: $primary-color;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
            thead tr th {
                text-align: left;
                &:nth-child(1) {
                    width: 48px;
                }
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 20%;
                }
                &:nth-child(4) {
                    width: 20%;
                }
                &:nth-child(5) {
                    width: auto;
                }
                &:nth-child(6) {
                    width: 110px;
                }
            }
            tbody tr td {
                overflow: hidden;
                text-overflow: ellipsis;

                &:nth-child(1) {
                    width: 48px;
                }
                &:nth-child(2) {
                    width: 20%;
                }
                &:nth-child(3) {
                    width: 20%;
                }
                &:nth-child(4) {
                    width: 20%;
                }
                &:nth-child(5) {
                    width: auto;
                }
                &:nth-child(6) {
                    width: 110px;
                }
            }
        }
    }
    .transfer-handset-step {
        .handset-list-title, .transfer-info-title {
            font-weight: 600;
            font-size: 14px;
            color: #48bac3;
            margin-bottom: 20px;
            line-height: 14px;
            margin-top: 5px;
        }
        .metro-table {
            margin-bottom: 20px;
            tbody {
                display: block;
                max-height: 24vh;
                overflow-y: auto;
                margin-top: 0;
            }
            thead, tbody  {
                tr {
                    display: table;
                    width: 100%;
                    table-layout: fixed;
                    margin-top: 0;
                }
                th {
                    &.selected-items {
                        .columnName {
                            text-transform: none;
                            color: $primary-color;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
            }
            thead tr th {
                text-align: left;
                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(2) {
                    width: 25%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:nth-child(4) {
                    width: 25%;
                }
            }
            tbody tr td {
                overflow: hidden;
                text-overflow: ellipsis;

                &:nth-child(1) {
                    width: 25%;
                }
                &:nth-child(2) {
                    width: 25%;
                }
                &:nth-child(3) {
                    width: 25%;
                }
                &:nth-child(4) {
                    width: 25%;
                }
            }
        }
    }
}