$unpublish-status-color: #F5BE58;
$publish-status-color: #7FBA00;
$error-status-color: #DC5360;
$error-border-color: #E47680;

.cell-schedule-shift-popover  {
    .remove-employee-popover-content {
        width: 440px;
        padding: 10px;
        background-color: #ffffff;
        z-index: 100;
        display: inline-table;
        .popover-header {            
            height: 50px;
            margin: -10px -10px 0 -10px;
            .go-back {
                position: absolute;
                left: 25px;
                top: 15px;
                display: flex;
                align-items: center;
                color: $primary-color;
                cursor: pointer;
                i {
                    margin-right: 5px;
                }
            }
            .popover-title {
                height: 50px;
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
                padding: 0;
                background-color: unset;
            }
        }
        .popover-body {            
            text-align: left;
            padding-top: 15px;
            .avatar-content {
                display: block;
                text-align: center;
                img {
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    vertical-align: middle;
                    margin-bottom: 10px;
                }
                .cell-content {
                    vertical-align: middle;
                    .main-label {
                        vertical-align: middle;
                        font-weight: 600;
                        line-height: 16px;
                    }
                    .sub-label {
                        vertical-align: middle;
                        font-weight: normal;
                        line-height: 16px;
                        font-size: 11px;
                        color: $color-table-header;
                    }
                }
            }
            > div {
                padding-left: 10px;
                margin-bottom: 10px;
                display: flex;
                align-items: center;
                .radio-button {
                    margin: 0;
                    display: inline-block;
                }
                .date-picker {
                    width: 123px;
                    margin: 0 10px;
                    display: inline-block;
                }
                > span {
                    font-weight: normal;
                }
            }
        }
        .popover-footer {
            display: inline-block;
            padding-bottom: 10px;
            .raised-button {
                min-width: 80px;
                width: 80px;
            }
        }
    }
}