.change-password {
    .change-password-form {
        width: 370px;
        padding: 40px 35px 50px 35px;
    }

    .change-password-form__title {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        color: $text-lighter;
        text-align: center;
        margin-bottom: 24px;
    }

    .change-password-form__notes {
        text-align: center;

        p {
            &:nth-child(1) {
                color: $color-paradiso;
            }

            &:nth-child(2) {
                font-style: italic;
                color: $color-suva-grey;
                margin-bottom: 15px;
            }
        }
    }

    .form__content-input {
        .title {
            font-weight: normal;

            &.required::after {
                content: '*' !important;
            }
        }
    }

    .basic-wrap-expired {
        height: 310px;
    }

    .expired-content {
        width: 450px;
        padding: 30px 70px;
        height: 100%;
    }

    .expired-content__wrap {
        text-align: center;
    }

    .expired-content__img {
        border-radius: 50px;
        width: 90px;
        background-color: white;
        box-shadow: 0px 3px 5.9px 0.1px rgba(0, 0, 0, 0.15);
        position: relative;
        margin: 0 auto;
        margin-bottom: 28px;

        img {
            padding: 20px;
        }
    }

    .expired-content__title {
        font-size: 30px;
        font-weight: bold;
        color: $color-dark-slate-grey;
        margin-bottom: 9px;
    }

    .expired-content__msg {
        color: $default-text;
        margin-bottom: 22px;
    }

    .expired-content__btn {
        .raised-button {
            width: 100%;
            margin-left: 0px;
        }
    }
}
