.page-employees {
    padding-bottom: 180px;
    .row-header {
        >div{
            display: inline-block;
            width: -moz-max-content;
        }
        .breadcrumb {
            margin-bottom: 0;
            line-height: 30px;
            height: 30px;
        }
        .employees-actions-group {
            display: inline-block;
            display: -ms-flexbox;
            float: right;
            &>div {
                display: inline-block;
            }
            .btn-group {
                ul.dropdown-menu {
                    min-width: 120px;
                    padding: 3px 0;
                    li {
                        height: 35px;
                        a {
                            line-height: 35px;
                            padding: 0 0 0 5px;
                            cursor: pointer;
                            img {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .filter-option {
                @media (min-width: 992px) {
                    width: 345px;
                    max-width: 345px;
                }
                margin-right: 10px;
                width: 250px;
                max-width: 250px;
            }
            .btn-group{
                margin-right: 10px;
                vertical-align: top;
            }
            .show-hide-column {
                margin-right: 10px;
            }
            .raised-button {
                margin-left: 0px;
            }
        }
        .header-button {
            margin-right: 30px;
            padding: 0px;
            text-align: right;
            .col-button {
                margin-left: 10px;
                width: auto;
                padding: 0px;
                .raised-button {
                    width: inherit;
                    line-height: 30px;
                    font-size: 12px;
                    i.fa,
                    span {
                        font-size: 12px;
                        font-weight: 100;
                    }
                }
                .gray-button {
                    background-color: $gray-button-background;
                }
                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
    .row-body{
        width: 100%;
        .metro-table {
            .primary-avatar-cell {
                padding-left: 0;
            }
        }
    }
    .pointer{
        cursor: pointer;
            .address-cell{
                max-width: 250px;
                text-overflow: ellipsis;
                overflow: hidden;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
    }
    .row-freeze{
        height: 51px;
    }
}