.page-notification-details {
    .header {
        margin-bottom: 20px;
    }
    .row-actions {
        margin-bottom: 10px;
        padding-left: 15px;
        .go-back {
            padding-left: 5px;
            padding-right: 5px;
            margin: 0;
            min-width: unset;
        }
        .notification-actions-group {
            float: right;
            margin-right: 15px;
        }
    }
    .notification-wrapper {
        border: 1px solid $gray-light-border;
        border-radius: 5px;
        .notification-header {
            padding: 15px;
            border-bottom: 1px solid $gray-light-border;
            .subject {
                font-size: 13px;
                font-weight: 600;
                display: inline-block;
            }
            .created-date {
                font-size: 12px;
                color: $gray-color-deep;
            }
        }
        .notification-content {
            padding: 15px;
            .confirmation-details {
                padding: 15px;
                margin-top: 15px;
                border-radius: 5px;
                width: max-content;
                min-width: 50%;
                background-color: $blue-color-5;
                .confirmation-actions {
                    text-align: right;
                }
            }
        }
    }
}