@import "variables";
@import "fonts/font";
@import 'fonts/fontAwesome/css/font-awesome.css';
@import 'fonts/fontIWFA/css/font-iwfa.css';
@import 'customize-bootstrap/css/bootstrap.css';
@import 'customize-bootstrap/css/overwrite-bootstrap';
@import 'customize-bootstrap/css/overwrite-bootstrap-progress';
@import 'customize-bootstrap/css/overwrite-bootstrap-tabmenu';
@import 'customize-bootstrap/css/overwrite-bootstrap-form-input';
@import 'jquery-treegrid/css/jquery.treegrid.css';
@import "toastr/toastr.scss";
@import "bootstrap-datepicker/css/bootstrap-datepicker3";
@import 'bootstrap-react-select/css/react-select.scss';
@import "components/global";
@import "components/layout";
@import "components/top-menu";
@import "components/my-table";
@import "components/notification-badge";
@import "components/caret";
@import "components/select-filter";
@import "components/search-filter";
@import "components/select-component";
@import "components/customize-dropdown-menu";
@import "components/customize-reactable";
@import "components/vertically-tabs";
@import "components/checkboxspecial";
@import "components/my-stepper";
@import "components/common-select";
@import "components/attach-file-area";
@import 'components/my-input';
@import 'components/breadcrumb';
@import 'components/my-input-button';
@import 'components/raised-button';
@import "components/verticalTab/tab";
@import "components/slider-duration-time";
@import "components/avaibility";
@import "components/dialog";
@import "components/dialog-alert";
@import "components/dialog-attachfile";
@import "components/dialog-clockin-clockout";
@import "components/dialog-import";
@import "components/box-container";
@import "components/table-box-container";
@import "components/dialog-change-expired-date";
@import "components/my-button";
@import "components/text-view";
@import "components/multi-value-text-view";
@import "components/skilltagview";
@import "components/box-container-view";
@import "components/emergency-contact";
@import "components/dropdown-button";
@import "components/checkboxes";
@import "components/toggle";
@import "components/horizontalTab";
@import "components/filter-modal";
@import "components/radio-buttons";
@import "components/dialog-change-avatar";
@import "components/slider";
@import "components/termination";
@import "components/handsets";
@import "components/employee-attachment";
@import "components/employee-availability";
@import "components/employee-contact-detail";
@import "components/email-input";
@import "components/time-picker";
@import "components/year-picker";
@import "components/employee-transfer";
@import "components/filter-address";
@import "components/show-hide-column";
@import "components/time-slider-widget";
@import "components/employee-chip";
@import "components/dialog-add-employees";
@import "components/treegrid";
@import "components/filter-date-range";
@import "components/radio-button";
@import "components/contract-general-information";
@import "components/dialog-select-shift-template";
@import "components/contract-schedule-template";
@import "components/contract-preview";
@import "components/status";
@import "components/number-input";
@import "components/contract-working-location";
@import "components/dialog-add-locations";
@import "components/time_slider";
@import "components/daterange-picker";
@import "components/schedule-assigned-employee";
@import "components/days-selection";
@import "components/schedule-remove-assigned-employee";
@import "components/loading-indicator";
@import "components/dialog-replace-employee";
@import "components/google-map";
@import "components/popup-notification";
@import "components/dialog-transfer-handset";
@import "components/dialog-assign-single-handset";
@import "components/dialog-assign-multiple-handset";
@import "components/flexible-shift";
@import "components/dialog-add-location-shift";
@import "components/my-color-picker";
@import "components/dialog-copy";
@import "components/custom-overlay";
@import "components/cell-schedule-shift-popover";
@import "Pages/view-edit-employee";
@import "Pages/new-leave";
@import "Pages/employee-leaves";
@import "Pages/member-report";
@import "Pages/my-timesheets";
@import "Pages/my-leaves";
@import "Pages/team-timesheets";
@import "Pages/team-schedule";
@import "Pages/setting";
@import "Pages/region-detail-setting";
@import "Pages/roles";
@import "Pages/new-role";
@import "Pages/new-overtime";
@import "Pages/jobroles";
@import "Pages/skills";
@import "Pages/departments";
@import "Pages/new-employee";
@import "Pages/dialog-add-skills";
@import "Pages/ApplicationSetting/application_setting";
@import "Pages/ApplicationSetting/general_setting";
@import "Pages/overtime-management";
@import "Pages/Schedule/schedule_component";
@import "Pages/Schedule/dialog_schedule";
@import "Pages/ApplicationSetting/leave_management";
@import "Pages/shift-template-setting";
@import "Pages/add_edit_timeSheet";
@import 'Pages/clockin_clockout';
@import 'Pages/authen-content';
@import 'Pages/login';
@import 'Pages/first-login';
@import 'Pages/change-password';
@import 'Pages/employees';
@import "Pages/ApplicationSetting/personal_settings";
@import 'Pages/export-dialog';
@import 'Pages/view-leave-detail';
@import 'Pages/overtime';
@import 'Pages/employee-timesheets';
@import 'Pages/view-timesheet-detail';
@import 'Pages/group-timesheets';
@import 'Pages/new-contract';
@import 'Pages/employee-organization';
@import 'Pages/customers';
@import 'Pages/schedules';
@import 'Pages/schedule-detail';
@import 'Pages/schedule';
@import 'Pages/my-schedule';
@import 'Pages/your-notifications';
@import 'Pages/notification-details';
@import 'Pages/locations';
@import 'Pages/dialog-add-edit-location';
@import 'Pages/handset-summary';
@import 'Pages/handsets';
@import 'Pages/edit-handset';
@import 'Pages/notFoundPage';
@import 'Pages/group-timesheet-history';

/* Styles */

body {
  font: 13px "Open Sans" ;
  color: $default-text;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.5;
}

// .savings { color: $vin-green; }
// .loss { color: $vin-red; }
// input.small { width: 46px; }
// td.fuel-savings-label { width: 175px; }
